{% extends "index.html" %}
{% block content %}

<body>
    
    <div class="col-5">
       

        <div class="">
            <h5>Conseils</h5>
            {% if gen_advices is defined and gen_advices|length %}
            
                {% for advice in gen_advices %}
                    {{ advice["advice"]}}<br />    
                {% endfor %}
            {% endif %}
        </div>
        
        
        <div class="">
            <h5></h5>
            {% if dishwasher_advices is defined and dishwasher_advices|length %}
            
                {% for advice in dishwasher_advices %}
                    {{ advice["advice"]}}<br />    
                {% endfor %}
            {% endif %}
        </div>
      
    </div>

</body>


{% endblock %}
