{% extends "index.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="">
    <div>
        {% if is_open %}
            <span id="window_info">La fenêtre est ouverte</span><br>
            <img id="window_img" src= "../static/image/window_open.png" alt="open"/>
            <a id="open" href="/close/">Fermer</a>
        {% else %}
            <span id="window_info">La fenêtre est fermée</span><br>
            <img id="window_img" src= "../static/image/window_close.png" alt="closed"/>
            <a id="open" href="/open/">Ouvrir</a>
        {% endif %}
        <a id="auto"></a>
    </div>
    <div>
        <table id="measures">
            <tr>
                <td>Température intérieure : </td>
                <td>{{temp_in}} °C</td>
            </tr>
            <tr>
                <td>Température extérieure : </td>
                <td>{{temp_out}} °C</td>
            </tr>
            <tr>
                <td>Humidité : </td>
                <td>{{hum}} %</td>
            </tr>
            <tr>
                <td>Action(s) actuelle(s) : </td>
                <td>{{state}}</td>
            </tr>
        </table>
    </div>
  <!--<img src= "../static/image/window_close.png"
       onclick="changeImage(this)"  alt="close"/>
  <script>

    function changeImage(image) {
        image.src = '/static/image/window_open.png';
    }

  </script>-->
</div>

<script src="{{url_for('static', filename='js/window.js')}}"></script>

</body>

{% endblock %}
