{% extends "index.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="">
    {% if state_window == True -%}
        <span>La fenêtre est ouverte</span><br>
        <img src= "../static/image/window_open.png" alt="open"/>
    {% else -%}
        <span>La fenêtre est fermé</span><br>
        <img src= "../static/image/window_close.png" alt="close"/>
    {% endif %}
  <!--<img src= "../static/image/window_close.png"
       onclick="changeImage(this)"  alt="close"/>
  <script>

    function changeImage(image) {
        image.src = '/static/image/window_open.png';
    }

  </script>-->
</div>
</body>
{% endblock %}
