{% extends "index.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/window.css')}}" />

</head>
<body>
<div class="main">
    <div class="part">
        <h3>Fenêtre</h3>
        {% if is_open %}
            <span id="window_info">La fenêtre est ouverte</span><br>
            <img id="window_img" src= "../static/image/window_open.jpg" alt="open"/>
            <br><a id="open" href="/close/">Fermer</a>
        {% else %}
            <span id="window_info">La fenêtre est fermée</span><br>
            <img id="window_img" src= "../static/image/window_close.jpg" alt="closed"/>
            <br><a id="open" href="/open/">Ouvrir</a>
        {% endif %}

        <br>
        <a id="auto" href="/mode/">
            {% if mode_auto %}Désactiver mode auto{% else %}Activer mode auto{% endif %}
        </a>

        <table id="measures">
            <tr>
                <td>Température intérieure : </td>
                <td>{{temp_in}} °C</td>
            </tr>
            <tr>
                <td>Température extérieure : </td>
                <td>{{temp_out}} °C</td>
            </tr>
            <tr>
                <td>Humidité : </td>
                <td>{{hum}} %</td>
            </tr>
            <tr>
                <td>Action(s) actuelle(s) : </td>
                <td>{{state}}</td>
            </tr>
        </table>
    </div>
    <div class="part">
        <h3>Log des actions automatiques</h3>
        <table id="log">
            {% for action in log %}
            <tr>
                <td>{{action["datetime"]}}</td>
                <td>{{action["action"]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script src="{{url_for('static', filename='js/window.js')}}"></script>

</body>

{% endblock %}
